:root {
  --primary-color: #42b883;
  --secondary-color: #35495e;
  --bg-color: #f0f2f5;
  --text-color: #2c3e50;
  --card-bg: #ffffff;
  --error-color: #e53935;
  --danger-color: #f44336;
  --danger-hover-color: #d32f2f;
  --highlight-color: #d1ecf1;
}

/* src/assets/main.css */
html, body, #app {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    overflow: hidden; /* ป้องกัน scrollbar ที่ body */
    background-color: #f0f2f5; /* ย้ายสีพื้นหลังมาไว้ที่นี่ */
    font-family: sans-serif;
  }